// Style
.site-footer-club {
  &::after {
    content: ',';
    font-weight: bold;
    color: $body-text-color;
  }

  &:last-child:after {
    content: '';
  }
}

a {
  text-decoration: underline;
}

.btn {
  color: white;
  text-decoration: underline;
  background-color: transparent;
  border: none;
}

.contacts {
  margin: 1rem 0;
}

.contacts-logo {
  width: 3rem;
  height: 3rem;
}

.contacts-link {
  margin-right: 1rem;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}


.sponsors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsor {
  padding: 1rem;
}
