<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <!-- {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %} -->
  <meta charset="UTF-8">
  {% seo %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>

<body>
  <a id="skip-to-content" href="#content">Skip to the content.</a>

  <header class="page-header" role="banner">
    <a href="/">
      <img width="350px" src="/assets/images/logo/logo_white_alpha.png" alt="Logo UnitedCTF">
    </a>
    <h2>{{ page.description | default: site.tagline }}</h2>
    {% if site.ctf.registration_enabled %}
    <a class="btn" href="{{ site.ctf.url }}">Inscription {{ site.ctf.name }}</a>
    {% endif %}
  </header>

  <main id="content" class="main-content" role="main">

    {{ content }}

    <footer class="site-footer">
      <span class="site-footer-owner">
        <a href="{{ site.url }}">UnitedCTF</a> est propulsé par
        {% for club in site.data.clubs %}
          {% if club.url %}<a class="site-footer-club" href="{{ club.url }}">{{ club.name }}</a>
          {% else %} {{ club.name }}
          {% endif %}
        {% endfor %}.
      </span>
      <div class="site-footer-credits contacts">
        {% for contact in site.contacts %}
        <a href="{{ contact.link }}" class="contacts-link" target="_blank">
          <img class="contacts-logo" src="/assets/images/{{ contact.name | downcase }}.png" alt="{{ contact.name }}">
        </a>
        {% endfor %}
      </div>
    </footer>
  </main>
</body>

</html>